.login-page {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background:
        radial-gradient(circle at top left,
            #f3e4d5,
            transparent 30%),
        radial-gradient(circle at bottom right,
            #d9b38c,
            transparent 35%),
        #f8f4ef;
}

.login-card {
    width: 420px;

    background: rgba(255,255,255,0.75);

    backdrop-filter: blur(12px);

    padding: 40px;

    border-radius: 28px;

    box-shadow:
        0 20px 40px rgba(0,0,0,0.08);

    border: 1px solid rgba(255,255,255,0.4);
}

.back-btn {
    text-decoration: none;
    color: #8a6a52;
    font-weight: 600;
}

.register-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #8a6a52;
    font-weight: 600;
    padding: 10px;
}

.login-title {
    margin-top: 15px;
    color: #5c4033;
    font-size: 2rem;
}

.login-subtitle {
    margin-top: 10px;
    margin-bottom: 30px;

    color: #8f7a68;
    line-height: 1.5;
}

.login-input {
    width: 100%;

    padding: 14px 18px;
    margin-bottom: 15px;

    border: 1px solid #e4d5c8;
    border-radius: 14px;

    background: white;

    outline: none;

    font-size: 0.95rem;
}

.login-input:focus {
    border-color: #c9a67d;
}

.login-button {
    width: 100%;

    padding: 14px;

    border: none;
    border-radius: 14px;

    background: #b97843;

    color: white;
    font-size: 1rem;
    font-weight: 700;

    cursor: pointer;

    transition: 0.2s;
}

.login-button:hover {
    transform: translateY(-2px);
}

.login-button:active {
    transform: translateY(0);
}